<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Salim Oyinlola's Translator</title>
</head>
<body>
    <div class="container">
        <h1>Hey, Amigo!</h1>
        <h1>Salim's Translation App</h1>
        <div>Enter the text you wish to translate, choose the language, and click Translate!</div>
        <div>
            <form method="POST">
                <div class="form-group">
                    <textarea name="text" cols="20" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="language">Language:</label>
                    <select name="language" class="form-control">
                        <option value="en">English</option>
                        <option value="fr">French</option>
                        <option value="ar">Arabic</option>
                        <option value="es">Spanish</option>
                        <option value="it">Italian</option>
                        <option value="ja">Japanese</option>
                        <option value="ru">Russian</option>
                        <option value="de">German</option>
                        <option value="af">Afrikaans</option>
                        <option value="sq">Albanian</option>
                        <option value="da">Danish</option>
                        <option value="nl">Dutch</option>
                        <option value="el">Greek</option>
                        <option value="lzh">Chinese (Literary)</option>
                        <option value="hr">Croatian</option>
                        <option value="cs">Czech</option>
                        <option value="fr-ca">French (Canada)</option>
                        <option value="hi">Hindi</option>salim
                        <option value="he">Hebrew</option>
                        <option value="ga">Irish</option>
                        <option value="tlh-Latn">Klingon</option>
                        <option value="nb">Norwegian</option>
                        <option value="pt">Portuguese</option>
                        <option value="ro">Romanian</option>
                        <option value="so">Somali</option>
                        <option value="sw">Swahili</option>
                        <option value="sv">Swedish</option>
                        <option value="tr">Turkish</option>
                        <option value="vi">Vietnamese</option>
                        <option value="cy">Welsh</option>
                        <option value="lo">Lao</option>
                        <option value="or">Odia</option>
                        <option value="fa">Persian</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Translate!</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>